@model kompiuteriuRinkykla.Models.Part

@{
    ViewData["Title"] = "Pakeisti likutį";
}

<h2>Pakeisti likutį</h2>

<h4>Detalė</h4>
<hr />
<div class="row">

    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Manufacturer)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Manufacturer)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Model)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Model)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Code)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Code)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt>
                    <label asp-for="Qty" class="control-label"></label>
                </dt>
                <dd>
                    <div class="form-group">
                        <input asp-for="Qty" class="form-control" />
                        <span asp-validation-for="Qty" class="text-danger"></span>
                    </div>
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.MemoryGb)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.MemoryGb)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Type)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Type)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.DataStorageInterface)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DataStorageInterface)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Length)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Length)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ConnectionType)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ConnectionType)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ProcessorFrequency)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ProcessorFrequency)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CoreCount)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CoreCount)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Power)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Power)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Color)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Color)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Width)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Width)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Height)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Height)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.MaxGpuLength)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.MaxGpuLength)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.MaxDataStorageLength)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.MaxDataStorageLength)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.MaxPsuLength)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.MaxPsuLength)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.MaxMotherboardLength)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.MaxMotherboardLength)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.RamConnType)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.RamConnType)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.RamSocketCount)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.RamSocketCount)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.MaxRam)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.MaxRam)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CpuConnType)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CpuConnType)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.MonitorSocketCount)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.MonitorSocketCount)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.EfficiencyRating)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.EfficiencyRating)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.PciSocketCount)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PciSocketCount)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DateCreated)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.DateModified)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DateModified)
                </dd>
            </dl>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Atnaujinti" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Atgal į sąrašą</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
