@model IEnumerable<kompiuteriuRinkykla.Models.Computer>

@{
    ViewData["Title"] = "Kompiuteriu sarasas";
}

<h2>Kompiuterių sąrašas</h2>

<p>
    <a asp-action="Create">Sudėti naują kompiuterį</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purpose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateModified)
            </th>
            <th>
                Detalių skaičius
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purpose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComputerParts.Count)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Peržiūrėti</a>
            </td>
        </tr>
}
    </tbody>
</table>
